*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body,
#root {
  width: 100%;
  background-color: black;
  color: whitesmoke;
}

main{
  position: relative;
}

section{
  min-height: 100vh;
  border: 2px solid rgb(0, 0, 0);
  position: relative;
  z-index: 2;

}

#section-1{
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3.5rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    .nav-elem{
      max-width: 10 rem;
    }
  }

  svg{
    height: 70%;
    width: 70%;
  }

  i{
    font-size: 1.5rem;
    cursor: pointer;
  }


}