*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body,
#root {
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: whitesmoke;
}

main{
  position: relative;
}

section{
  min-height: 100vh;
  border: 2px solid rgb(240, 202, 67);
  position: relative;
  z-index: 2;

}

#section-1{
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3.5rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    .nav-elem{
      max-width: 10 rem;
    }
  }

  svg{
    height: 70%;
    width: 70%;
  }

  i{
    font-size: 1.5rem;
    cursor: pointer;
  }

  .middle{

    display: flex;
    .left, .right{
      width: 50%;

    }

    .left{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      text-align: right;
      padding-block: 6.7rem;
    }

    h1{
      font-size: 7rem;
      line-height: 5rem;
      font-weight: 800;
    }
  }

  .bottom{
    display: flex;

    .left, .right{
      width: 50%;
    }
  }

  p{
    font-size: 1.5rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-top: 3.5rem;
  }

  .first-line{
    width: 70vh;
    height: 0.1rem;
    background-color: rgb(255, 0, 0);
    position: absolute;
    transform: rotate(45deg) translate(0,-20rem);
  }

    .second-line{
    width: 60vh;
    height: 0.1rem;
    background-color: rgb(255, 0, 0);
    position: absolute;
    transform: rotate(5deg) translate(67rem,-40rem);
  }


}

#section-2{
  .titles{
    display: flex;
    flex-direction: column;
    padding-inline: 18rem;
    padding-block: 10rem;
  }

  .title{
    display: flex;
    gap: 6rem;
    opacity: 0.3;
    padding-block: 2rem;
    transition: all 0.3s linear;
    cursor: pointer;

    h1{
      font-size: 4.5rem;
      font-weight: 10;
      line-height: 1;

    }

    small{
      margin-top: 0.7rem;
      font-size: 0.9rem;
    }


  }

    .title:hover{
      opacity: 1;
      color: rgb(255, 255, 255);
    }
}